<div class="row">
    <div class="col-md-6 ofset-md-3">
        <h3>Login</h3>
        <hr>
        <form action="" [formGroup]="loginFrom" (ngSubmit)="onLoginSubmit()">
            <div class="mb-3">
                <label for="">Email</label>
                <input type="text" class="form-control" formControlName="email">
            </div>
            <div *ngIf="loginFrom.get('email')?.touched  && !loginFrom.get('email')?.valid">
                <div *ngIf="loginFrom.get('email')?.errors?.['required']">Email is required</div>
             
                    <div *ngIf="loginFrom.get('email')?.errors?.['email']">Invalid email</div>
           
               
            </div>
            <div class="mb-3">
                <label for="">Pasesword</label>
                <input type="password" class="form-control" formControlName="password">
            </div>
            <div *ngIf="loginFrom.get('password')?.touched  && !loginFrom.get('password')?.valid">
                <div *ngIf="loginFrom.get('password')?.errors?.['required']">Password is required</div>
             
                    <div *ngIf="loginFrom.get('password')?.errors?.['minlength']">Invalid Password</div>
           
               
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary" [disabled]="!loginFrom.valid">Login</button>
            </div>
        </form>

    </div>
</div>