<div class="row">
    <div class="col-md-12">
        <h3>Add Post</h3>
        <hr>
        <form [formGroup]="postForm" (ngSubmit)="onAddPost()">
            <div class="mb-3">
                <label for="">Title</label>
                <input type="text" class="form-control" formControlName="title">

                <div *ngIf="postForm.get('title')?.touched && !postForm.get('title')?.valid">
                    <div *ngIf="postForm.get('title')?.errors?.['required']" class="text-danger">
                        Title is Requird
                    </div>
                    <div *ngIf="postForm.get('title')?.errors?.['minlength']" class="text-danger">
                        Title should be minimum 6 charector
                    </div>

                </div>
            </div>
            <div class="mb-3">
                <label for="">Description</label>
                <textarea class="form-control" formControlName="description"></textarea>
                <div class="text-danger">{{showDescriptionErrors()}}</div>
            </div>
            <div class="my-3">
                <button class="btn btn-primary" [disabled]="!postForm.valid">Save Post</button>
            </div>
        </form>
    </div>
</div>