<div class="row">
    <div class="col-md-12">
        <h3>Update Post</h3>
        <hr>
        <form  [formGroup]="editPostFrom">
            <div class="mb-3">
                <label for="">Title</label>
                <input type="text" class="form-control" formControlName="title">
                </div>
            <div class="mb-3">
                <label for="">Description</label>
                <textarea class="form-control" formControlName="description"></textarea>
            </div>
            <div class="my-3">
                <button class="btn btn-primary" >Update Post</button>
            </div>
        </form>
    </div>
</div>