<div class="row">
    <div class="col-md-8">
        <h3>Posts List</h3>

        <div>
            <a href="#" class="btn btn-primary" [routerLink]="['/posts/add']" routerLinkActive="router-link-active" >Add Post</a>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tiltle</th>
                    <th>description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of posts$ | async">
                    <td>{{item.id}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.description}}</td>
                    <td>
                        <a href="" class="btn btn-primary" [routerLink]="['edit',item.id]" >Update</a>&nbsp;
                        <a  class="btn btn-danger" (click)="deletePost(item.id)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>